body {
    height: 100%;
    width: 100%;
}

.nav {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.title {
    font-size: xx-large;
}
.main {
    height: 395px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    color: white;
    justify-content: center;
}
.cell {
    background-color: rgba(182, 155, 34, 0.897);
    height: 100%;
    text-align: center;
    vertical-align: middle;
}
.head {
    font-size: xx-large;
}
.sub {
    font-size: xx-small;
}

}
.img2 {
   height: 100%;
   width: 100%;
}